
*, *::after, *::before{
    
    padding:0; 
    margin:0; 
    
    box-sizing: border-box;
    
    
    
}

html{
    scroll-behavior: smooth;
    
    
}

body{
    
    min-height: 100vh;
    min-width: 100vw;
    position: relative;
    padding: 0px; 
    margin:0px; 
    color: white; 
    
    
}